.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 0 16px;
  border-radius: 4px;
  background-color: white;
  color: #6d28d9;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.Button:hover { background-color: #f1f5f9; }
